* {margin: 4;
   padding: 4;
   box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(frame.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: brown;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
	color: black;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px ;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: black;
}