* {margin: 4;
   padding: 4;
   box-sizing: border-box;
}
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-image: url(brown.jpg);
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

		.container h1 {
            background-color: transparent;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            width: 300px;
            text-align: center;
        }

        .container h2 {
            margin-bottom: 20px;
        }

       table .container input[type="text"],
        .container input[type="password"],
		.container input[type="gender"],
        .container input[type="email"] {
            width: 100%;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        .container button {
            background-color: brown;
            color: white;
            border: none;
            padding: 10px 20px;
            margin-top: 10px;
            border-radius: 3px;
            cursor: pointer;
        }

        tr.container button:hover {
            background-color: white;
        }
    